.container{
    align-items: center;
    display: inline-flex;
    justify-content: center;
    background-color: #CCE2F4;
    border-radius: 4px;
    padding: 4px 8px;
    height: 32px;
}
.item{
    margin-right: 4px;
    color: #141414;
    font-family: Poppins;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
    height: 21px;
    border-radius: 4px;

}

.errorWrap {
    background-color: #e00d8f33;
}
.icon {
    cursor: pointer;
    color: #006DC8;
    height: 11.93px;
    width: 11.93px;
    margin-left: 5px;
}
.errorIcon {
    color: #E2068C;
}
